body {  
	font-family: Arial, serif;
	color: #333;
}


a {
	text-decoration: none;
	color: #007e41;
} 

a:hover {
	text-decoration: underline;
	text-decoration-color: magenta;
}


body script {
    display: block;
    font-family: monospace;
    white-space: pre;
}


label {
	font-weight: bold;
	display: block;
}


.field {
	margin-bottom: .5em;
}